button{
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
}

button:hover{
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  grid-template-rows: repeat(6, 1fr);   /* Five rows for the button layout */
  background-color: #000000;            /* Black background to match the iPhone calculator */
  padding: 20px;
  border-radius: 20px;
}

.orange{
  background-color: #FF9500;
  color: white;
}

.gray{
  background-color: #505050;
  color: white;
}

.zero {
  grid-column: span 2;         /* "0" spans two columns */
  border-radius: 40px;         /* Adjust the shape of the "0" button */
  width: 90%;                 /* Make the "0" button fill the space */
  text-align: left;
  padding-left: 1.3em;
}

.display{
  color: white;
  font-size: 2em;
  grid-column: span 4;         /* The result spans all four columns */
  display: flex;          /* Align the text to the right */
  justify-content: flex-end;
  padding: 0.5em;
  font-size: 36px;
  font-weight: 800;
  padding-right: 1em;

}
